<mat-card class="main-card">
  <mat-toolbar color="primary" class="title">
    Opções
  </mat-toolbar>

  <mat-card-content >
    <p> Aqui está um exemplo de loja que contem produtos!</p>
  </mat-card-content>

  <mat-chip-set aria-label="selection" class="selection" (click)="navigateToProduct()">
    <mat-chip color="accent" class="selection-product">
      <mat-icon aria-hidden="false" fontIcon="list" class="selection-product-icon"></mat-icon>
      Ver lista de produtos
    </mat-chip>
  </mat-chip-set>

  <mat-card-footer class="card-footer">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
